html, 
body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 3.75rem;
    display: grid;
    grid-template-columns: 1em max-content max-content 1fr 1fr max-content max-content 1em;;
    grid-template-areas: ". img head . . home about .";
    align-items: center;
}

nav h1 {
    grid-area: head;
    font-size: 0.847rem;
    padding-left: 0.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
}

#headerImg {
    grid-area: img;
    width: 1.3rem;
    margin: 0;
    align-self: center;
}

#home, #about {
    font-size: 0.75rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    margin: 0;
}

#home {
    grid-area: home;
    padding-right: 10px;
}

#about {
    grid-area: about;
    padding-left: 10px;
}

#mainArticle {
    height: 18.3125rem;
    background-image: url("images/main-article.png");
    background-size: cover;
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    padding-top: 4rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

#mainArticle p, #mainArticle time {
    font-weight: 400;
}

#mainArticle time {
    font-size: 0.75rem;
}

#mainArticle h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0;
}

#mainArticle h2, #mainArticle p, #mainArticle time {
    margin: 0;
}

.blogArticle {
    display: grid;
    font-family: "Source Sans 3", sans-serif;
    padding: 2rem 0rem;
    width: 100%;
}

.articleImg {
    background-size: cover;
    width: 90vw;
    justify-self: center;
    padding-bottom: 1rem;
    border-radius: 10px;
    padding-left: 1rem;
}

.articleDate, .articleHeading, .articleText {
    padding-left: 1rem;
    line-height: 1.1;
    font-family: "Source Sans 3", sans-serif;
}

#recentPostHeading {
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1rem;
}

#aboutImg {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 2rem;
}

#about:hover, #home:hover, #mainArticle:hover {
    cursor: pointer;
}